/*Resetear los estilos*/
*{
	margin: 0;
	padding: 0;
/*propiedad box sizing*/
	box-sizing: border-box;
}
:root{
	font-size: 12px;
}
/*importar una fuente
primeramente ir a la pagina goooglefonts https://fonts.google.com
En este caso escogemos la fuente urbanist y seleccionamos los pesos 300, 400, 500, 600 y 700
y importamso en enlace
y por ultimo llamamos a la fuente
*/
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');
/*tipo de letra para login*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
/*Para el cuerpo del login*/
body{
	font-family: 'Roboto', sans-serif;
	background-image:  radial-gradient(#b96bad 0.5px, transparent 0.5px), radial-gradient(#b96bad 0.5px, #e5e5f7 0.5px);
	/*background-image: linear-gradient(to top, #1F8068 0%, #1F8068 1%, #225c74 100%);*/
}
body.body{
	display: grid;
	grid-template-rows: 4rem 1fr;
	height: 100vh;
}
/*Para el cuerpo de toda la aplicacion*/
/*body main{
	width: 96%;
	max-width: 1600px;
	
	
}*/