.start {
	background-image: url('../imagenes/Industria.jpg');
	/* reemplaza con la ruta de tu imagen */
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.start__title {
	margin-top: 6rem;
	font-size: 5rem;
	color: #fff;
	margin-bottom: 2rem;
}

.start__paragraph {
	font-size: 2rem;
	color: #fff;
	text-align: center;
}