/*************************************Modal Producto-Proforma ***********************************/
.modalPdpf__container {
	margin: auto;
	background-color: #fff;
	width: 30rem;
	height: 90%;
	border-radius: .5rem;
	display: grid;
	grid-template-rows: 3rem 3rem 1fr 8rem;
	overflow: hidden;
}

.modalPdpf__header {
	display: flex;
	justify-content: space-between;
	padding: .5rem 1rem;
}

.modalPdpf__header .button__close {
	height: 2.2rem;
	width: 2.2rem;
}

.modalPdpf__body {
	display: flex;
	align-items: center;
	background-color: #225c74;
	color: #fff;
	font-weight: bold;
	width: 100%;
	font-size: .9rem;
	padding: .5rem;
}

.modalPdpf__body table thead tr td:nth-of-type(1) {
	padding: 0;
	width: 3rem;
}

.modalPdpf__body table thead tr td:nth-of-type(2) {
	padding: 0;
	width: 3rem;
}

.modalPdpf__body table thead tr td:nth-of-type(3) {
	padding: 0;
	width: 9rem;
	text-align: center;
}

.modalPdpf__container .container--modal__body {
	overflow: auto;
}

.modalPdpf__container .container--modal__body::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

.modalPdpf__container .container--modal__body::-webkit-scrollbar-thumb {
	border-radius: .5rem;
	background-color: #0004;
	visibility: hidden;
}

.modalPdpf__container .container--modal__body:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}

.button--sell {
	background: var(--color-egeo-blue);
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1rem;
	padding: .5rem 0;
	border: none;
	cursor: pointer;
	border-radius: .5rem;
	display: flex;
	justify-content: center;
	margin: .5rem auto;
	width: 10rem;
}

.button__sell--previw {
	background: var(--color-egeo-blue);
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1rem;
	padding: .5rem 0;
	border: none;
	cursor: pointer;
	border-radius: .5rem;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-bottom: 1rem;
	width: 10rem;
}

/*****************************************************************************************************/
.body__proforma {
	height: 100vh;
	display: grid;
	grid-template-rows: 4rem 1fr;
}

.main {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 100%;
	/*Cuando la tabla */
	padding: 0 .5rem;
	/*Vuelve transparente*/
	background-color: #fff5;
	margin: 0 auto;
}

.main__title {
	padding: 1rem 0;
	display: flex;
	justify-content: space-between;
}

.main__title select {
	border-color: #225c74;
	border-radius: .4rem;
	width: 100%;
	color: #225c74;
}

.main__title h1 {
	font-size: 1.5rem;
	display: flex;
	align-items: center;
}

.main__title .select {
	cursor: pointer;
}

.main__header {
	height: auto;
	width: 100%;
	background-color: #fff4;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
}

.main__header .combo__search {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main__header .table__search {
	width: 15rem;
	height: 2rem;
	background-color: #fff5;
	padding: 0 .8rem;
	border-radius: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .2s;
	border: 1px solid #225c74;
}

.main__header .table__search:hover {
	box-shadow: 0 .1rem .4rem #0002;
}

.main__header .table__search img {
	width: 1.2rem;
	height: 1.2rem;
}

.main__header .table__search input {
	width: 100%;
	padding: 0 .5rem 0 .3rem;
	background-color: transparent;
	border: none;
	/*Que no aparesca el borde cuando empecemos a escribir*/
	outline: none;
}

.main__header select {
	border-color: #225c74;
	border-radius: .4rem;
	width: 100%;
	color: #225c74;
}

.main__header section.select__number {
	cursor: pointer;
}

.container__page select {
	border-color: #225c74;
	border-radius: .4rem;
	width: 100%;
	color: #225c74;
}

.main__header section.select__search div {
	display: flex;
	align-items: center;
}

.main__header section.select__search img {
	width: 1.5rem;
	height: 1.5rem;
}

.main__header .logo {
	font-size: 30px;
	font-weight: bold;
	color: #fff;
}

.cart {
	display: flex;
	background-color: #fff;
	justify-content: space-between;
	align-items: center;
	padding: 4px 10px;
	width: 80px;
}

.fa-solid {
	color: #225c74;
}

.cart p {
	height: 22px;
	width: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 22px;
	background-color: #225c74;
	color: white;
}

/*<<--------------------container-------------------------->>*/
.main__container {
	display: grid;
	grid-template-columns: 1fr 32.5rem;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
}
#root {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	grid-gap: 1rem;
	padding-top: 1rem;
	overflow-y: auto;
}

#root::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

#root::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	background-color: #0004;
	visibility: hidden;
}

#root:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}

.sidebar {
	border-radius: .5rem;
	background-color: #eee;
	padding: .5rem;
	text-align: center;
	display: grid;
	grid-template-rows: 4rem 1fr 4rem;
	overflow: hidden;
	height: 100%;
}

.head {
	font-size: 1rem;
	display: flex;
	justify-content: space-between;
	background-color: #225c74;
	border-radius: .5rem;
	height: 4rem;
	width: 100%;
	padding: .5rem;
	margin-bottom: .5rem;
	color: #fff;
	display: flex;
	align-items: center;
}

.input__change--money {
	width: 5rem;
	border: none;
	border-radius: .4rem;
	color: #225c74;
	font-weight: bold;
}

.head p {
	font-weight: bold;
	color: #fff;
}

.head select {
	border-color: #225c74;
	border-radius: .4rem;
	width: 4rem;
	color: #225c74;
	cursor: pointer;
}

.foot {
	display: flex;
	justify-content: space-between;
	padding: .5rem 1rem;
	border-top: 1px solid #333;
}

/*<<-------------------------Estilo para las cards------------>>*/
.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #225c74;
	border-radius: 5px;
	padding: 15px;
	max-height: 36rem;
	max-width: 20rem;

}

s .img-box {
	display: flex;
	align-items: center;
	justify-content: center;
}

.images {
	max-width: 100%;
	max-height: 80%;
	object-fit: cover;
	object-position: center;
	cursor: pointer;
}

.box__code {
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.box__name {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}

.bottom {
	margin-top: .5rem;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 110px;
}

.bottom h2 {
	/*white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;*/
	width: 100%;
	font-size: 1.2rem;
}

.foot h2 {
	font-size: 20px;
	color: #f00;
}

.box button {
	width: 100%;
	position: relative;
	border: none;
	border-radius: 5px;
	background-color: #225c74;
	padding: 7px 25px;
	cursor: pointer;
	color: #fff;
}

button:hover {
	background-color: #333;
}

/*<<<<<<<<<<<<<<<<<<PARA LA LISTA DE CART AGRAGADOS>>>>>>>>>>>>>>>>>>*/
.sidebar__body {
	height: 100%;
	display: grid;
	grid-template-rows: 3rem 1fr;
	padding: .5rem 0;
	overflow: hidden;
}

.cartItem__head {
	display: flex;
	align-items: center;
	background-color: #225c74;
	color: #fff;
	font-weight: bold;
	width: 100%;
	font-size: .9rem;
	border-radius: .5rem;
}

.cartItem__head td:nth-of-type(1) {
	padding: 0;
	width: 3rem;
}

.cartItem__head td:nth-of-type(2) {
	padding: 0;
	width: 3rem;
}

.cartItem__head td:nth-of-type(3) {
	padding: 0;
	width: 10rem;
	text-align: left;
}

.cartItem__head td:nth-of-type(4) {
	padding: 0;
	width: 2.5rem;
	text-align: left;
}

.cartItem__head td:nth-of-type(5) {
	padding: 0;
	width: 3.5rem;
}

.cartItem__head td:nth-of-type(6) {
	padding: 0;
	width: 4rem;
}

.cartItem__head td:nth-of-type(7) {
	padding: 0;
	width: 2rem;
}

.cartItem__body {
	height: 100%;
	overflow-y: auto;
}

.cartItem__body::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

.cartItem__body::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	background-color: #0004;
	visibility: hidden;
}

.cartItem__body:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}

.cartItem {
	height: auto;
}

.cart-item {
	font-size: 1rem;
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: .5rem;
	width: 100%;
	margin: .5rem 0;
	padding: .5rem .5rem;
	cursor: move;
}

.cart-item.dragging {
	opacity: 0.6;
}

.cart-item.dragging :where(.details, i) {
	opacity: 0;
}

.cart-item .cart-item__cantInv {
	width: 2rem;
	/*color: #225c74;*/
	text-align: left;
}

/*Para compra*/
.cart-item .cart-item__cantInv2 {
	width: 3.5rem;
	color: #225c74;
	text-align: left;
}

/*----------*/
.cart-item .row-img {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	border: 1px solid #225c74;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cart-item .rowimg {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;

}

.cart-item img:hover {
	color: #333;
	/*nO FUNCIONA POR Q ES IMAGEN*/
}

.cart-item .cart-item__codigo {
	width: 10rem;
	padding: 0 .5rem;
	color: #225c74;
}

/*Para compra*/
.cart-item .cart-item__codigo2 {
	width: 16rem;
	padding: 0 .5rem;
	color: #225c74;
}

/*------------*/
.cart-item .cart-item__cantidad {
	width: 2.5rem;
	border: none;
	font-size: .8rem;
}

.cart-item .cart-item__cantidad:focus {
	outline: none;
}

.cart-item .cart-item__cantidad::-webkit-outer-spin-button,
.cart-item .cart-item__cantidad::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.cart-item .cart-item__costUnit {
	width: 3.5rem;
	border: none;
	font-size: .8rem;
}

.cart-item .cart-item__costUnit:focus {
	outline: none;
}

#productsSold .cart-item .cart-item__cantidad {
	width: 3.5rem;
	border: none;
	font-size: .8rem;
}

#productsSold .cart-item .cart-item__costUnit {
	width: 4.5rem;
	border: none;
	font-size: .8rem;
}

.cart-item .cart-item__costUnit::-webkit-outer-spin-button,
.cart-item .cart-item__costUnit::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.cart-item .cart-item__costTotal {
	width: 4rem;
	border: none;
	font-weight: bold;
	font-size: .8rem;
}

.cart-item .cart-item__costTotal:focus {
	outline: none;
}

.cart-item .cart-item__costTotal::-webkit-outer-spin-button,
.cart-item .cart-item__costTotal::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.cart-item__tmpEntrega{
	width: 2rem;
	border: none;
	font-weight: bold;
	font-size: .8rem;
}
.cart-item .cart-item__tmpEntrega:focus {
	outline: none;
}

.cart-item .cart-item__tmpEntrega::-webkit-outer-spin-button,
.cart-item .cart-item__tmpEntrega::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.sidebar__button {
	width: 8rem;
	border: none;
	border-radius: .5rem;
	background-color: #225c74;
	padding: .5rem 1.5rem;
	cursor: pointer;
	color: #fff;
}

/*---------------------------Clase usada para javaScrip al momento de buscar---------------------*/
.hide {
	display: none;
}

/*-------------------------------MODALCard----------------------------*/
.modal__show {
	--opacity: 1;
	--pointer: unset;
}

.modalCard {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #111111bd;
	display: flex;
	--opacity: 0;
	--pointer: none;
	opacity: var(--opacity);
	pointer-events: var(--pointer);
	font-family: 'Roboto', sans-serif;
}

.modalCard__container {
	margin: auto;
	background-color: #d9d9d9;
	max-width: 400px;
	height: 90%;
	border-radius: .5rem;
	overflow: hidden;
}

.modalCard__body {
	height: 100%;
	font-size: 1rem;

	display: grid;
	grid-template-rows: 3rem 1fr 3rem;
}

.modalCard__footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.modalCard__head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff
}

.modalCard--body {
	overflow-y: auto;
}

.modalCard--body::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

.modalCard--body::-webkit-scrollbar-thumb {
	border-radius: .5rem;
	background-color: #0004;
	visibility: hidden;
}

.modalCard--body:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}

.modalCard__body h4 {
	color: #000;
	align-items: center;
	font-size: 1.2rem;
	font-weight: bold;
}

.modalCard__body .modalCard__img {
	display: block;
	width: 100%;
	margin: 0 auto;

}

.modalCard__body h5 {
	padding: .5rem 0;
	text-align: center;
	color: #000;
	font-size: 1.3rem;
}

.modalCard__body p {
	background-color: #fff;
	padding: .2rem;
	border-radius: .5rem;
	border: #000 1px solid;
	overflow-y: auto;
	height: auto;
}

.modalCard__body p::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

.modalCard__body p::-webkit-scrollbar-thumb {
	border-radius: .5rem;
	background-color: #0004;
	visibility: hidden;
}

.modalCard__body p:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}

.modalCard__body h6 {
	padding: 1rem 0;
	font-size: 1rem;
}

.modalCard__body h3 {
	padding-bottom: 2rem;
	font-size: 1rem;
}

/***********************************PRICE LIST*****************************************/
#tablePriceList .modalTable__container {
	/*como su padre tiene flexbox se puede usar el margin auto*/
	display: grid;
	/*activa el overlay*/
	width: 50%;
	max-width: 50rem;
	height: 90%;
	margin: auto;
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
	background-color: #fff;
	border-radius: .5rem;
}

/*------------------------------------------------------------------------------------------*/
/* responsive */
@media (max-width:800px) {
	.body__proforma {
		height: 200vh;
		display: grid;
		grid-template-rows: 4rem 1fr;

	}

	.main__container {
		display: flex;
		flex-direction: column;
	}

	.main__container #root {
		height: 50%;
		overflow-y: auto;
	}

	.main__container .sidebar {
		height: 50%;
		overflow-y: auto;
	}

	.main__container #root::-webkit-scrollbar {
		width: 0.5rem;
		height: 0.5rem;
	}

	.main__container #root::-webkit-scrollbar-thumb {
		border-radius: .5rem;
		background-color: #0004;
		visibility: hidden;
	}

	.main__container #root:hover::-webkit-scrollbar-thumb {
		visibility: visible;
	}

	.main__container .sidebar::-webkit-scrollbar {
		width: 0.5rem;
		height: 0.5rem;
	}

	.main__container .sidebar::-webkit-scrollbar-thumb {
		border-radius: .5rem;
		background-color: #0004;
		visibility: hidden;
	}

	.main__container .sidebar:hover::-webkit-scrollbar-thumb {
		visibility: visible;
	}

	/*----header*/
	.main__header {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 1rem 1rem;
	}

	.main__header div {
		display: flex;
	}
}

/*drag drop*/
.dragging {
	opacity: 0.6;
}

.dragging :where(.indice, .row-img, p, .div__cost) {
	opacity: 0;
}

/*****************/
.almacen-alto {
  font-size: 1rem;
  color: #ff0000; 
  background-color: #ff7f7f; 
  padding: 2px 4px;
  border-radius: 2px;
}

.almacen-ambos {
  font-size: 1rem;
  color: #000;
  background-color: #f6ff7f;
  padding: 2px 4px;
  border-radius: 2px;
}


.almacen-arce {
  font-size: 1rem;
  color: #006600; 
  background-color: #7fff7f;
  border-radius: 2px;
}