.fechas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.fecha__button{
    background: #225c74;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1rem;
	border: none;
	border-radius: .5rem;
    padding: .6rem 2rem;
    cursor: pointer;
}
.fecha__label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}
.fecha__input{
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: #225c74 2px solid;
    border-radius: .5rem;
    padding: .2rem .2rem;
}
/*Ecuacuon de cantidad a reponer*/
.ecuacion{
    font-family: 'Bricolage Grotesque', sans-serif;
    position: relative;
    height: 3rem;
    width: 62rem;
    margin: 0 2rem;
}
.ecuacion__input{
    border: none;
    width: 3rem;
}
.ecuacion__title1{
    position: absolute;
    width: 5.5rem;
    height: 3rem;
}
.ecuacion__title2{
    position: absolute;
    width: .5rem;
    height: 1rem;
    left: 5rem;
    top: 1.2rem;
    font-weight: bold;
}
.ecuacion__title3{
    position: absolute;
    width: 11.5rem;
    height: 1rem;
    left: 6rem;
    top: .8rem;
    border-bottom: 1px solid #000;
}
.ecuacion__title4{
    position: absolute;
    width: 4.8rem;
    height: 3rem;
    left: 25rem;
    top: .5rem;
}
.ecuacion__title5{
    position: absolute;
    width: .5rem;
    height: 1rem;
    left: 29.8rem;
    top: 1.2rem;
    font-weight: bold;
}
.ecuacion__title6{
    position: absolute;
    width: 4.8rem;
    height: 3rem;
    left: 31rem;
}
.ecuacion__title7{
    position: absolute;
    width: .5rem;
    height: 1rem;
    left: 35.7rem;
    top: 1.3rem;
    font-weight: bold;
    font-size: 1.5rem;
}
.ecuacion__title8{
    position: absolute;
    left: 50rem;
    top: 1.8rem;
    border-top: 1px solid #000;
    width: 4.7rem;
}
.ecuacion__title9{
    position: absolute;
    left: 12.5rem;
    top: 2rem;
}
.ecuacion__title10{
    position: absolute;
    left: 39.5rem;
    top: 1.2rem;
}
.ecuacion__title11{
    position: absolute;
    width: .5rem;
    height: 1rem;
    left: 43.5rem;
    top: 1.2rem;
    font-weight: bold;
    font-size: 1.1rem;
}
.ecuacion__title12{
    position: absolute;
    width: 4.8rem;
    height: 3rem;
    left: 44.3rem;
}
.ecuacion__title13{
    position: absolute;
    width: .5rem;
    height: 1rem;
    left: 49rem;
    top: 1.3rem;
    font-weight: bold;
    font-size: 1.5rem;
}
#numberMoths{
    background-color: antiquewhite;
    position: absolute;
    left: 9.5rem;
    top: 1.8rem;
}
#mothsReplacement{
    background-color: antiquewhite;
    position: absolute;
    left: 36.5rem;
    top: 1.1rem;
}
#daysLate{
    background-color: antiquewhite;
    position: absolute;
    left: 50rem;
    top: .3rem;
}
.ecuacion__title14{
    position: absolute;
    left: 53rem;
    top: .4rem;
}
.ecuacion__title15{
    position: absolute;
    width: .5rem;
    height: 1rem;
    left: 55.5rem;
    top: 1.2rem;
    font-weight: bold;
    font-size: 1.1rem;
}
.ecuacion__title16{
    position: absolute;
    width: 4.8rem;
    height: 3rem;
    left: 56.5rem;
    top: .7rem;
}

/*************************************Modal Producto-Proforma ***********************************/
.modalPdpf__container {
	margin: auto;
	background-color: #fff;
	width: 32rem;
	height: 90%;
	border-radius: .5rem;
	display: grid;
	grid-template-rows: 3rem 3rem 1fr 8rem;
	overflow: hidden;
}

.modalPdpf__header {
	display: flex;
	justify-content: space-between;
	padding: .5rem 1rem;
}

.modalPdpf__header .button__close {
	height: 2.2rem;
	width: 2.2rem;
}

.modalPdpf__body {
	display: flex;
	align-items: center;
	background-color: #225c74;
	color: #fff;
	font-weight: bold;
	width: 100%;
	font-size: .9rem;
	padding: .5rem;
}

.modalPdpf__body table thead tr td:nth-of-type(1) {
	padding: 0;
	width: 3rem;
}

.modalPdpf__body table thead tr td:nth-of-type(2) {
	padding: 0;
	width: 3rem;
}

.modalPdpf__body table thead tr td:nth-of-type(3) {
	padding: 0;
	width: 9rem;
	text-align: center;
}

.modalPdpf__container .container--modal__body {
	overflow: auto;
}

.modalPdpf__container .container--modal__body::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

.modalPdpf__container .container--modal__body::-webkit-scrollbar-thumb {
	border-radius: .5rem;
	background-color: #0004;
	visibility: hidden;
}

.modalPdpf__container .container--modal__body:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}

.button--sell {
	background: var(--color-egeo-blue);
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1rem;
	padding: .5rem 0;
	border: none;
	cursor: pointer;
	border-radius: .5rem;
	display: flex;
	justify-content: center;
	margin: .5rem auto;
	width: 10rem;
}

.foot {
	display: flex;
	justify-content: space-between;
	padding: .5rem;
	border-top: 1px solid #333;
}

.foot__right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.foot__left {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.foot__left p {
	font-weight: bold;
	font-size: 1.3rem;
    color: black;
}

.cart {
	display: flex;
	background-color: #fff;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;
	width: 80px;
}

.cart p {
	height: 22px;
	width: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 22px;
	background-color: #225c74;
	color: white;
}

/*******************************cart-item vnt_prod***********************/
.cart-item {
	font-size: 1rem;
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: .5rem;
	width: 100%;
	margin: .5rem 0;
	padding: .5rem .5rem;
	cursor: move;
}

.cart-item.dragging {
	opacity: 0.6;
}

.cart-item.dragging :where(.details, i) {
	opacity: 0;
}

.cart-item .cart-item__cantInv {
	width: 2rem;
	/*color: #225c74;*/
	text-align: left;
}

/*Para compra*/
.cart-item .cart-item__cantInv2 {
	width: 3.5rem;
	color: #225c74;
	text-align: left;
}

/*----------*/
.cart-item .row-img {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	border: 1px solid #225c74;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cart-item .rowimg {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;

}

.cart-item img:hover {
	color: #333;
	/*nO FUNCIONA POR Q ES IMAGEN*/
}

.cart-item .cart-item__codigo {
	width: 10rem;
	padding: 0 .5rem;
	color: #225c74;
}

/*Para compra*/
.cart-item .cart-item__codigo2 {
	width: 16rem;
	padding: 0 .5rem;
	color: #225c74;
}

/*------------*/
.cart-item .cart-item__cantidad {
	width: 2.5rem;
	border: none;
	font-size: .8rem;
}

.cart-item .cart-item__cantidad:focus {
	outline: none;
}

.cart-item .cart-item__cantidad::-webkit-outer-spin-button,
.cart-item .cart-item__cantidad::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.cart-item .cart-item__costUnit {
	width: 3.5rem;
	border: none;
	font-size: .8rem;
}

.cart-item .cart-item__costUnit:focus {
	outline: none;
}

#productsSold .cart-item .cart-item__cantidad {
	width: 3.5rem;
	border: none;
	font-size: .8rem;
}

#productsSold .cart-item .cart-item__costUnit {
	width: 4.5rem;
	border: none;
	font-size: .8rem;
}

.cart-item .cart-item__costUnit::-webkit-outer-spin-button,
.cart-item .cart-item__costUnit::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.cart-item .cart-item__costTotal {
	width: 4rem;
	border: none;
	font-weight: bold;
	font-size: .8rem;
}

.cart-item .cart-item__costTotal:focus {
	outline: none;
}

.cart-item .cart-item__costTotal::-webkit-outer-spin-button,
.cart-item .cart-item__costTotal::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.cart-item__tmpEntrega{
	width: 2rem;
	border: none;
	font-weight: bold;
	font-size: .8rem;
}
.cart-item .cart-item__tmpEntrega:focus {
	outline: none;
}

.cart-item .cart-item__tmpEntrega::-webkit-outer-spin-button,
.cart-item .cart-item__tmpEntrega::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
